body.dark-mode {
    background: black;
    color: white;
    margin-top: 7vh;
}

.accItem {
    background-color: black;
    color: white;
}


.episode-container {
    border: 2px solid white;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    overflow: hidden;
}

h6{
    width: 100px;
    margin-top:-10px;
    margin-left:5px;
    background: white;
    border: 2px solid black;
    color: black;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 5.15) !important;

  }

.scrolling-text {
overflow: hidden;
white-space: pre-wrap;
animation: scroll 45s linear infinite;
}

@keyframes scroll {
0% {
    transform: translateY(100%);
}
100% {
    transform: translateY(-100%);
}
}

.border-none {
    border: none;
    max-width: 75vw !important;
}
